<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stuff.name %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @stuff.interests %>
</p>

<p>
  <strong>Beer of choice:</strong>
  <%= @stuff.beer_of_choice %>
</p>

<p>
  <strong>Favorite cheese:</strong>
  <%= @stuff.favorite_cheese %>
</p>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
